.container {
	@include flex(center, center);
	height: 100%;
	pointer-events: none;
}

.inner {
	width: 100%;
	height: 120px;
	overflow: hidden;

	@include media($laptop-bp) {
		height: 80px;
	}
}

.heading {
	position: relative;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	transition: padding-right 0.3s ease-out;

	@include media($mobile-bp) {
		display: flex;
		flex-direction: column;
		padding-right: 0;
		width: 100%;
		text-align: center;
	}

	&.fadeRight {
		padding-right: 250px;
		transition: padding-right 0.3s ease-out;

		@include media($laptop-bp) {
			padding-right: 330px;
		}

		@include media($mobile-bp) {
			padding-right: 0;
		}
	}
}

.title {
	display: inline-block;
	font-size: 120px;
	line-height: 1;
	color: $primary;

	@include media($laptop-bp) {
		font-size: 80px;
	}

	@include media($mobile-bp) {
		font-size: 36px;
	}

	&.fadeIn {
		color: $dark;
		transition: color 0.4s ease-in;

		@include media($mobile-bp) {
			background-color: $gray;
			position: relative;
			z-index: 1;
		}
	}
}
