.container {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 40px;
	line-height: 2.5;
	display: inline-block;
	width: max-content;
	position: absolute;
	list-style: none;
	height: 100px;
	top: 25px;
	opacity: 0;
	transition: all 0.5s ease-in,
	opacity 0.3s ease-in;

	@include media($laptop-bp) {
		height: 80px;
		font-size: 32px;
		top: 9px;
	}

	@include media($mobile-bp) {
		font-size: 19px;
		text-align: center;
		top: 36px;
		width: 100%;
	}

	&.fadeIn {
		opacity: 1;
		transition: all 0.5s ease-in,
		opacity 0.3s ease-in;
	}
}
