.container {
	//border-top: 2px solid $primary;

	//&:last-of-type {
	//  border-bottom: 2px solid $primary;
	//}

	&:hover p {
		color: $primary;
		transition: color 0.3s ease-in-out;
	}
}

.link {
	@include flex(center, center);
	padding-block: 18px;
}

.title {
	@include font(Neofolia);
	font-size: clamp(40px, 80px, 80px);
	color: $dark;
	text-transform: uppercase;
	transition: color 0.3s ease-in-out;

	&--active {
		margin-right: 18px;
	}
}

.poster {
	@include flex($justify: center);
	overflow: hidden;
	width: 0;

	&Image {
		display: block;
		width: 210px;
		height: auto;
		min-width: 210px;
		margin-inline: 5px;
	}
}
