.container {
	display: block;
	color: $primary;
	padding: 12px 16px;
	font-weight: 500;
	font-size: var(--medium);
	border-radius: 30px;
	border: 1px solid $primary;
	background-color: $gray;
	text-align: center;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:active {
		background-color: $primary;
		border-color: $primary;
		color: $white;
		transition: all 0.3s ease-in-out;
	}
}
