.container {
	height: 1px;
	width: 100%;
	position: relative;

	& svg {
		position: absolute;
		top: -50px;
		width: 100%;
		height: 100px;

		& path {
			stroke: $primary;
			stroke-width: 1px;
			fill: none;
		}
	}
}

.box {
	height: 40px;
	width: 100%;
	position: relative;
	top: -20px;
	z-index: 1;

	&:hover {
		height: 100px;
		top: -50px;
	}
}
