.container {
	@include flex(center, center);
	position: relative;
	z-index: 2;
	max-width: 1900px;
	margin-inline: auto;

	@include media($laptop-bp, min) {
		padding-inline: 170px;
	}
}

.list {
	width: 100%;
	list-style-type: none;
}
