.container {
	&.fadeIn .item {
		opacity: 1;
		transition: opacity 0.4s ease-in;
	}
}

.item {
	@include font(Neofolia);
	font-size: 30px;
	opacity: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	color: $dark;
	transition: color 0.4s ease-in-out;

	@include media($mobile-bp) {
		font-size: 16px;
	}

	&:hover,
	&.current {
		color: $primary;
		transition: color 0.4s ease-in-out;
	}
}

.itemDesktop {
	position: fixed;
	z-index: 10;

	&--logo {
		left: 40px;
		top: 40px;
	}

	&--1 {
		top: 40px;
		right: 40px;
	}

	&--2 {
		bottom: 40px;
		left: 40px;
	}

	&--3 {
		bottom: 40px;
		right: 40px;
	}
}

.mobileLogo,
.mobileNav {
	position: fixed;
	left: 0;
	z-index: 11;
	width: 100%;
	padding-block: 20px;
	background-color: $gray;
}

.mobileLogo {
	top: 0;
	width: 100%;
	text-align: center;
}

.mobileNav {
	@include flex($justify: space-around);
	bottom: 0;
}
