.container {
	min-height: 100vh;
	height: 100%;
	position: relative;

	@include media($mobile-bp, min) {
		cursor: url('./assets/cursor.svg') 3 3,
		auto;
	}
}

.content {
	padding: 140px 40px;
	overflow: auto;

	@include media($mobile-bp, min) {
		height: 100%;
	}

	@include media($mobile-bp) {
		@include flex($justify: center);
		flex-direction: column;
		padding: 75px 16px;
		min-height: 100%;
	}
}
