@font-face {
    font-family: 'Neofolia';
    /*//src: local('Neofolia'), url('public/fonts/Neofolia.woff') format('woff'),*/
    /*//url('public/fonts/Neofolia.woff2') format('woff2'),*/
    /*//url('public/fonts/Neofolia.ttf') format('truetype');*/
    src: local('Neofolia'), url('../fonts/Neofolia.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}