// Breakpoints
$laptop-bp: 1420px;
$tablet-bp: 1024px;
$low-tablet-bp: 730px;
$mobile-bp: 568px;

// Colors
$gray: #eff0f9;
$dark: #222;
$primary: #0036c1;
$white: #fff;

// Fonts
$fonts-list: Montserrat, Neofolia;
