.container {
  list-style-type: none;

  &.fadeIn li {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }
}

.item {
  position: fixed;
  z-index: 10;
  opacity: 0;

  &:nth-child(1) {
    left: 50px;
    top: 50px;
  }

  &:nth-child(2) {
    top: 50px;
    right: 50px;
  }

  &:nth-child(3) {
    bottom: 50px;
    left: 50px;
  }

  &:nth-child(4) {
    bottom: 50px;
    right: 50px;
  }
}

.link {
  @include font(Neofolia);
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: $dark;
  transition: color 0.4s ease-in-out;

  &:hover,
  &.current {
    color: $primary;
    transition: color 0.4s ease-in-out;
  }
}
